In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\mlproject\env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\mlproject\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\mlproject\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\mlproject\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\mlproject\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.6 MB 9.1 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.6 MB 9.1 MB/s eta 0:00:01
   ------------------- -------------------- 5.8/11.6 MB 9.3 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.6 MB 9.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 8.9 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.9 MB 10.7 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.9 MB 10.2 MB/s eta 0:00:01
   ------------------ --------------------- 6.0/12.9 MB 10.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.9 MB 10.0 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.9 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 9.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.2 tzdata-2024.1

In [5]:
#read the dataset
df = pd.read_csv('./StudentsPerformance.csv')

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [12]:
df[df.gender=='male'].count()

gender                         482
race/ethnicity                 482
parental level of education    482
lunch                          482
test preparation course        482
math score                     482
reading score                  482
writing score                  482
dtype: int64

In [13]:
df[df.gender=='female'].count()

gender                         518
race/ethnicity                 518
parental level of education    518
lunch                          518
test preparation course        518
math score                     518
reading score                  518
writing score                  518
dtype: int64