In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\mlproject\env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\mlproject\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\mlproject\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\mlproject\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\mlproject\env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\mlproject\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.6 MB 9.1 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.6 MB 9.1 MB/s eta 0:00:01
   ------------------- -------------------- 5.8/11.6 MB 9.3 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.6 MB 9.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 8.9 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.9 MB 10.7 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.9 MB 10.2 MB/s eta 0:00:01
   ------------------ --------------------- 6.0/12.9 MB 10.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.9 MB 10.0 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.9 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 9.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.2 tzdata-2024.1

In [5]:
#read the dataset
df = pd.read_csv('./StudentsPerformance.csv')

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [12]:
df[df.gender=='male'].count()

gender                         482
race/ethnicity                 482
parental level of education    482
lunch                          482
test preparation course        482
math score                     482
reading score                  482
writing score                  482
dtype: int64

In [13]:
df[df.gender=='female'].count()

gender                         518
race/ethnicity                 518
parental level of education    518
lunch                          518
test preparation course        518
math score                     518
reading score                  518
writing score                  518
dtype: int64

In [14]:
df.shape

(1000, 8)

In [15]:
#missing values
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [16]:
#check duplicates
df.duplicated().sum()

np.int64(0)

In [17]:
#check null and dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [20]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [29]:
print("this is the unique genders  ", end = "")
print(df['gender'].unique())

this is the unique genders  ['female' 'male']

In [30]:
print("this is the unique number of race ", end ="")
print(df['race/ethnicity'].unique())
print("this is the unique number of parental level of education ", end ="")
print(df['parental level of education'].unique())
print("this is the unique number of lunch ", end ="")
print(df['lunch'].unique())
print("this is the unique number of test preparation course ", end ="")
print(df['test preparation course'].unique())

this is the unique number of race ['group B' 'group C' 'group A' 'group D' 'group E']
this is the unique number of parental level of education ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
this is the unique number of lunch ['standard' 'free/reduced']
this is the unique number of test preparation course ['none' 'completed']

In [39]:
# check the features which are numerical vs non numerical
numerical_features = [feature for feature in df.columns if df[feature].dtype!= 'O']
print('these are the numerical features.. {} of length {}'.format(numerical_features, len(numerical_features)))

# check the features which are numerical vs non numerical
non_numerical_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('these are the non_numerical_features features.. {} of length {}'.format(non_numerical_features, len(non_numerical_features)))

these are the numerical features.. ['math score', 'reading score', 'writing score'] of length 3
these are the non_numerical_features features.. ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'] of length 5

In [43]:
df['Total Score'] = df['math score'] + df['reading score'] + df['writing score']
df['Average'] = df['Total Score']/3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average,Total Score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,218
1,female,group C,some college,standard,completed,69,90,88,82.333333,247
2,female,group B,master's degree,standard,none,90,95,93,92.666667,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,148
4,male,group C,some college,standard,none,76,78,75,76.333333,229

In [52]:
#full marks
reading_full_marks = df[df['reading score'] == 100]['Average'].count()
print("reading marks score  ", reading_full_marks)
maths_full_marks = df[df['math score'] == 100]['Average'].count()
print("maths marks score  ",maths_full_marks)
writing_full_marks = df[df['writing score'] == 100]['Average'].count()
print("reading marks score  ",writing_full_marks)

reading marks score   17
maths marks score   7
reading marks score   14